/* russoOne */
@font-face {
  font-family: russoOne;
  src: url(../assets/fonts/russo-one/RussoOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}


/* ethnocentric */
@font-face {
  font-family: ethnocentric;
  src: url(../assets/fonts/ethnocentric/ethnocentric-rg.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ethnocentric;
  src: url(../assets/fonts/ethnocentric/ethnocentric-rg-it.ttf);
  font-weight: normal;
  font-style: italic;
}

/* polya */
@font-face {
  font-family: polya;
  src: url(../assets/fonts/polya/POLYA.otf);
  font-weight: normal;
  font-style: normal;
}

/* teko */
@font-face {
  font-family: teko;
  src: url(../assets/fonts/teko/Teko-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: teko;
  src: url(../assets/fonts/teko/Teko-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: teko;
  src: url(../assets/fonts/teko/Teko-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: teko;
  src: url(../assets/fonts/teko/Teko-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: teko;
  src: url(../assets/fonts/teko/Teko-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

